<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plagiarism</title>
    <script src="/static/utility.js"></script>
	<link rel="stylesheet" href="">
	<style>
     *{
		 box-sizing: border-box;
		 
	 }
	 .bg{
		background-color: rgb(192, 213, 235);
	 }
	 

	 .container{
		 display: flex;
		 font-family: cursive;
		 
	 }
	 .box1{
		 padding: 120px;
		 
	 }
	 .box2{
		 padding-top: 95px;
		 
	 }
	 .sub{
		 padding-top: 620px;
		 padding-right: 200;
	 }
	 .header{
		 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	 }
	</style>
</head>
<body>
	<div class="bg">
		<header>
			<h2><center>Plagiarism Checker</center></h2>
	   
		   </header>
		   <form action="">
			   <section class="container">
                                   <div class="box1">Enter Text 1 <br></BR><textarea name="text1" id="" cols="60" rows="30"></textarea></div>
				   <div class="box2">Enter Text 2  <br></BR><textarea name="text2" id="" cols="60" rows="30" ></textarea></div>
				   
				 
				   
					   
<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
</div>
				   
				  </section>

		  <input type="button" class="btn btn-sm" onclick="submitData('/submitJSON')" value="Submit now">	
	</form>	
	
	   
	</div>

    

</body>
</html>
		
		
	
    	


	
		  
